{% extends 'library/base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Password Reset' %}</h1>
{% if validlink %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}
                <label for="id_new_password1">{% trans 'New Password' %}:</label>
            </td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}
                <label for="id_new_password2">{% trans 'Repeat New Password' %}:</label>
            </td>
            <td>{{ form.new_password2 }}</td>
        </tr>
    </table>
    <input type="submit" value="{% trans 'Change Password' %}" class="btn btn-primary btn-lg">
</form>
{% else %}
    <div class="bg-danger text-white my-2 p-2">{% trans 'Password change link has expired or is invalid. Please reinitialize password reset.' %}</div>
{% endif %}
{% endblock content %}
